<div>
    <h1 class="app-name">Let's Win COVID</h1>
</div>
<div>
    <h3 class="app-name">User Details:</h3>
</div>
<div>
    <h4>Name: {{name}}</h4>
    <h4>Age: {{age}}</h4>
    <h4>Email: {{Email}}</h4>
    <h4>Pincode: {{pincode}}</h4>
    <div>{{{table}}}</div>
</div>